<!DOCTYPE html>
<html>
<head>
    <title>Cookie Consent</title>
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
    <h1>Welcome to Ash's website!</h1>
        
    <h4>We need to use cookies to play some of these games:</h4>
    <p>The website uses cookies to enhance your experience by saving the state
        of the website, ensuring that our interactive features, such as games,
        work seamlessly. These cookies are essential for the functionality of
        the site and do not collect any personal information, nor are they
        shared with third parties or used for marketing purposes. By accepting
        cookies, you enable us to provide you with a smooth and uninterrupted
        user experience.</p>
    
    <p>You can clear all cookies at any point by clicking the button on the
        website. Please note that this will clear any saved state of the games.</p>

    <div class="row">
        <form action="cookies.html" method="post">
            <button type="submit" name="allow">Accept cookies</button>
        </form>
    </div>

   
    <footer>
        <p>German Learning Games - Learn German while having fun!</p>
    </footer>
  </body>
</html>