<!DOCTYPE html>
<html>
<head>
    <title>Deutsche Vocabulary</title>
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
    <h1>Welcome to Ash's website!</h1>
        
    <h4>Choose a Game to revise your German vocabulary:</h4>
    
    <div>
        <div class="row">
            <h3>Nouns</h3>
        </div>
        <div class="row">
            <a href="derdiedas.html"><button>der|die|das</button></a>
            <a href="matchnouns.html"><button>wordmatch</button></a>
        </div>
        <div class="row">
            <h3>Verbs</h3>
        </div>
        <div class="row">
            <a href="conjugate.html"><button>conjugations</button></a>
            <a href="matchverbs.html"><button>wordmatch</button></a>
        </div>
        <div class="row">
            <h3>Everything else!</h3>
        </div>
        <div class="row">
            <a href="matchvocab.html"><button>wordmatch</button></a>
        </div>
    </div>
    {% include 'clear_cookies.html' %}
    <footer>
        <p>German Learning Games - Learn German while having fun!</p>
    </footer>
  </body>
</html>