body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 30px;
    margin: 0;
    padding: 20px;
}

.row {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

.column {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}

input[type="text"].borderless_input {
    background-color: transparent;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: darkred;
    width: 30ch;
    margin: 5px;
   }

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 10px;
}

button.small {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

button.unused {
    background-color: #30c6e7;
    color: white;
}

button.used {
    background-color: #333633;
    color: white;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
tr {
    display: table-row; /* Ensures rows are displayed as rows */
}
th, td {
    display: table-cell; /* Ensures cells are displayed as cells */
}

tr.border {
    border-style: solid;
    border-width: 1px 0;
    border-color: black;
}
tr.border:first-child {
    border-top: none;
}
tr.border:last-child {
    border-bottom: none;
}
