<!DOCTYPE html>
<html>
    <head>
        <title>Conjugate</title>
        <style>
            {% include 'style.css' %}
        </style>
    </head>
    <body>
        <div class="row"><a href="index.html"><button>Go Back</button></a></div>
        <form  action="verb_check.html" method="get">
            {% set params = 'type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required class="borderless_input" lang="de"' %}
            <div class="row">
                <h2>{{verb}}: <i>{{meaning}}</i></h2>
                <input type="hidden" name="word" value="{{verb}}">
            </div>
            <div class="row">
                Ich&nbsp;<input name="ich" placeholder="Eg. esse" {{ params|safe }}>
            </div>
            <div class="row">
                Du&nbsp;<input name="du" placeholder="Eg. isst" {{ params|safe }}>
            </div>
            <div class="row">
                Ich&nbsp;
                <input name="hilfsverb" placeholder="bin/habe" pattern="bin|habe" style="width: 10ch" {{ params|safe }}>
                <input name="partizip" placeholder="Eg. gegessen" {{ params|safe }}></p>
            </div>
            <div class="row">
                <button type="submit" onclick="submitForm()">Submit</button>
            </div>
        </form>
        {% include 'clear_cookies.html' %}
    </body>
</html>
